h1 {
    color:purple;
}
.green-text {
    color:green;
}
.red-text {
    color: red;
}
.logoImage {
    max-width: 300px;
}
.minHeight {
    min-height: 85vh;
}
.heroImage {
    max-width: 200px;
}
#heroText {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    margin: 0;
    text-transform: uppercase;
    color:rgb(255, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellow;
    text-shadow: 2px 1px #292929;
}
.special-link:hover {
    color:blueviolet;
}

.background-layout {
    background-color: black;
    color: #caf;
}

.scarletWitch {
    text-align: center;
    color: darkviolet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:tomato;
}
.theWasp {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #292929;
    text-shadow: 4px 1px yellow;
}
